<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>预定管理</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/dbdmain.css" rel="stylesheet" />
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="main" class="starry-wrapper">
  <!--导航条开始-->
  <nav class="navbar navbar-collapse navbar-inverse  navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand ">宾馆后台管理系统</a>
      </div>
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href="/manage/main">入住管理</a></li>
          <li role="presentation"><a href="/manage/reserve">预定管理 <span class="badge badge-warning">{{reserveNum}}</span></a></li>
          <li role="presentation"><a href="/manage/member">会员管理</a></li>
          <li role="presentation"><a href="/manage/record">入住记录</a></li>
          <li role="presentation" class="active"><a href="/manage/feedback">反馈处理</a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <!--表格开始-->
  <div class="container-fluid" style="margin-top: 60px">
    <h3><strong>反馈管理</strong></h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        筛选
      </div>
      <form class=".form-inline">
        <div class="form-group not-block" style="padding: 10px">
          <label>处理状态：</label>
          <select id="dealStatus" class="form-control" v-model="dealStatus">
            <option value="3" selected="selected">所有反馈</option>
            <option value="2">已改进</option>
            <option value="1">正在处理</option>
            <option value="0">未处理</option>
          </select>
        </div>
        <div class=" not-block">
          <button id="earch" class="btn btn-primary not-block" type="button" v-on:click="getData">搜索 </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container-fluid">
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="center">序号</th>
          <th class="center">反馈用户</th>
          <th class="center">反馈内容</th>
          <th class="center">处理状态</th>
          <!--<th class="center">-->
            <!--<select class="form-control" v-model="dealStatus">-->
              <!--<option value="2" selected="">已改进</option>-->
              <!--<option value="1" selected="">正在处理</option>-->
              <!--<option value="0" selected="">未处理</option>-->
            <!--</select>-->
          <!--</th>-->
          <th class="center">处理人</th>
          <th class="center">反馈时间</th>
          <th class="center">处理时间</th>
          <th class="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list">
          <td>{{item.id}}</td>
          <td>{{item.userName}}</td>
          <td><a href="javascript:void(0);" @click="showFeedbackInfo(item.id)" >查看</a> </td>
          <td>{{item.statusName}}</td>
          <td>{{item.managerName}}</td>
          <td>{{item.submitTime}}</td>
          <td>{{item.dealTime}}</td>
          <td v-if="item.status == 0">
            <button class="btn btn-warning" @click="recevice(item.id)">收到反馈</button>
          </td>
          <td v-if="item.status == 1">
            <button class="btn btn-warning" @click="complete(item.id)">处理完成</button>
          </td>
          <td v-if="item.status == 2">
            已处理
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--页码-->
    <div class="container-fluid starry-middle">
      <nav aria-label="Page navigation" class=" starry-middle">
        <ul class="pagination pagination-lg">
          <li @click="frontPage" id="frontBtn">
            <a href="#" aria-label="Previous" >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li v-for="i in maxPage" v-bind:id =i+'page'><a href="#" @click="turnTo(i)">{{i}}</a></li>
          <li @click="nextPage" id="nextBtn">
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--页码-->
  </div>
  <!--表格结束-->
  <!--反馈信息弹窗-->
  <div class="modal fade" id="contentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">反馈信息</h3>
        </div>
        <div class="modal-body">
          {{feedbackContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!--反馈信息弹窗结束-->
</div>
<div class="container-fluid starry-middle starry-footer">
  <p>@Author 徐子林 <a href="https://github.com/Starry316/dataBaseDesign">@GitHub</a></p>
  <p>Project For Database Curriculum Design</p>
  <p> <a href="http://www.miitbeian.gov.cn">鲁ICP备18016956号</a></p>
</div>

<script src="/js/pagejs/dbfeedback.js"></script>

</body>
</html>
