<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>入住管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/css/dbdmain.css" rel="stylesheet" />
    <link href="/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>
    <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap-dialog.min.js" type="text/javascript"></script>
</head>
<body>
<div id="main" class="starry-wrapper">
    <!--导航条开始-->
    <nav class="navbar navbar-collapse navbar-inverse  navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " style="cursor: default">宾馆后台管理系统</a>
            </div>
            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="/manage/main">入住管理</a></li>
                <li role="presentation"><a href="/manage/reserve">预定管理 <span class="badge badge-warning">{{reserveNum}}</span></a></li>
                <li role="presentation"><a href="/manage/member">会员管理</a></li>
                <li role="presentation"><a href="/manage/record">入住记录</a></li>
                <li role="presentation"><a href="/manage/feedback">反馈处理</a></li>
            </ul>
        </div>
    </nav>
    <!--导航条结束-->
    <!--搜索栏开始-->
    <div class="container-fluid" style="margin-top: 80px">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        入住管理
                    </div>
                    <form class=".form-inline">
                        <div class="form-group not-block" style="padding: 10px">
                            房间状态：
                            <select id="roomStatus" class="form-control" v-model="roomStatus"> <option value="3" selected="">所有房间</option> <option value="0" selected="">空闲房间</option> <option value="1" selected="">已入住房间</option> </select>
                        </div>
                        <div class="form-group not-block">
                            入住日期：
                            <input id="checkInTime" name="checkInTime"  class="form-control" style="width: 10rem" placeholder="入住日期" data-bv-field="startDate" />
                        </div>
                        <div class="form-group not-block">
                            离店日期：
                            <input id="checkOutTime" name="checkOutTime" class="form-control" style="width: 10rem" placeholder="离店日期" data-bv-field="checkOutTime" />
                        </div>
                        <div class="form-group not-block">
                            房间号：
                            <input id="roomId" name="roomId" type="text" class="form-control" required="required" placeholder="房间号" v-model="roomId" />
                        </div>
                        <div class="form-group not-block">
                            顾客姓名：
                            <input id="customerName" name="customerName" type="text" class="form-control" required="required" placeholder="顾客姓名" v-model="customerName" />
                        </div>
                        <div class="form-group not-block">
                            顾客身份证号 ：
                            <input id="customerIdNo" name="customerIdNo" type="text" class="form-control" required="required" placeholder="顾客身份证号" v-model="customerIdNo" />
                        </div>
                        <div class=" not-block">
                            <button id="earch" class="btn btn-primary not-block" type="button" v-on:click="search">搜索 </button>
                        </div>
                    </form>
                </div>
                <div class="alert alert-danger hide" role="alert" id="errorMes">
                    {{errorMes}}
                </div>
            </div>
        </div>
    </div>
    <!--搜索栏结束-->
    <!--表格开始-->
    <div class="container-fluid">
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">房间号</th>
                    <th class="center">房间类型</th>
                    <th class="center">状态</th>
                    <th class="center">入住顾客信息</th>
                    <th class="center">消费</th>
                    <th class="center">入住时间</th>
                    <th class="center">预计退房时间</th>
                    <th class="center">人住</th>
                    <th class="center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.roomId}}</td>
                    <td>{{item.roomType}}</td>
                    <td>{{item.roomStatusName}}</td>
                    <td><a href="javascript:void(0);" @click="showCustomerInfo(item.recordId)" v-if="item.roomStatus == 1" >查看</a> </td>
                    <td>{{item.payment}}</td>
                    <td>{{item.checkInTime}}</td>
                    <td>{{item.checkOutTime}}</td>
                    <td> <button class="btn btn-info" v-if="item.roomStatus == 1" @click="showDelayModal(item.roomId)">续住</button> <button class="btn btn-info" @click="showCheckInModal(item.roomId)" v-else-if="item.roomStatus == 2">入住</button> <button class="btn btn-info" @click="showCheckInModal(item.roomId)" v-else="">入住</button> </td>
                    <td> <button class="btn btn-danger" v-if="item.roomStatus == 1" @click="showCheckOutModal(item.roomId)">退房</button>
                        <!--<button class="btn btn-danger disabled" v-else >退房</button>--> <button class="btn btn-warning" v-if="item.roomStatus == 1" @click="change(item.roomId)">换房</button>
                        <!--<button class="btn btn-warning disabled" v-else >换房</button>--> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid starry-middle">
            <nav aria-label="Page navigation" class=" starry-middle">
                <ul class="pagination pagination-lg">
                    <li @click="frontPage" id="frontBtn">
                        <a href="#" aria-label="Previous" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="i in maxPage" v-bind:id =i+'page'><a href="#" @click="turnTo(i)">{{i}}</a></li>
                    <li @click="nextPage" id="nextBtn">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--表格结束-->
    <!--顾客信息弹窗-->
    <div class="modal fade" id="customerInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">入住顾客信息</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>身份证号码</th>
                            <th>手机号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in customerInfoList">
                            <td>{{index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.idcardNo}}</td>
                            <td>{{item.phoneNum}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!---->
                    <!--<div v-for="item in customerInfoList" class="form-horizontal">-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>顾客姓名：</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input class="form-control" :value="item.name" readonly />&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">姓名</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<p class="form-control-static">{{item.name}}</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">身份证号</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<p class="form-control-static">{{item.idcardNo}}</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">手机号码</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<p class="form-control-static">{{item.phoneNum}}</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!---->
                    <!---->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>身份证号码：</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="form-control-static">{{item.idcardNo}}</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>手机号码：</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="form-control-static">{{item.phoneNum}}</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<hr>-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="checkIn">确认</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--顾客信息弹窗结束-->
    <!--入住弹窗-->
    <div class="modal fade" id="checkInModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">请登记入住顾客的基本信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>预计退房时间：</label>
                        <input id="signCheckOutTime" name="signCheckOutTime" class="form-control" data-bv-field="signCheckOutTime" placeholder="退房时间" />
                    </div>
                    <div v-for="i in customerNum">
                        <div class="form-group">
                            <label>顾客姓名：</label>
                            <input v-bind:id =i+'signName' class="form-control" placeholder="顾客姓名"/>
                        </div>
                        <div class="form-group">
                            <label>身份证号码：</label>
                            <input v-bind:id =i+'signIdcardNo' class="form-control" placeholder="身份证号码"/>
                        </div>
                        <div class="alert alert-danger hide" role="alert" v-bind:id =i+"idNoCheck">请输入正确的身份证号码</div>
                        <div class="form-group">
                            <label>手机号码：</label>
                            <input v-bind:id =i+'signPhoneNum' class="form-control" placeholder="手机号码"/>
                        </div>
                        <div class="alert alert-danger hide" role="alert" v-bind:id =i+"phoneCheck">请输入正确的手机号码</div>
                        <hr>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="addCustomer">添加新顾客</button>
                    <button type="button" class="btn btn-primary" @click="checkIn">确认</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--入住弹窗结束-->
    <!--预定信息弹窗-->
    <div class="modal fade" id="reserveInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">预定信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>房间号：</label>
                        <p>{{reserveRoomId}}</p>
                    </div>
                    <div class="form-group">
                        <label>顾客姓名：</label>
                        <p>{{reserveName}}</p>
                    </div>
                    <div class="form-group">
                        <label>手机号码：</label>
                        <p>{{reservePhone}}</p>
                    </div>
                    <div class="form-group">
                        <label>预计入住时间：</label>
                        <p>{{reserveCheckInTime}}</p>
                    </div>
                    <div class="form-group">
                        <label>预计退房时间：</label>
                        <p>{{reserveCheckOutTime}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--预定信息结束-->
    <!--续住信息弹窗-->
    <div class="modal fade" id="delayModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">续住</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>入住日期</th>
                                    <th>预计退房日期</th>
                                    <th>房型</th>
                                    <th>消费金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{dCheckInTime}}</td>
                                    <td>{{dCheckOutTime}}</td>
                                    <td>{{dType}}</td>
                                    <td>{{dPayment}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="delayCheckOutTime">续住到</label>
                        <input id="delayCheckOutTime"  name="delayCheckOutTime" class="form-control" data-bv-field="delayCheckOutTime" placeholder="退房时间" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="delay">确认</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--详细信息弹窗结束-->
    <!--退房弹框-->
    <div class="modal fade" id="checkOut" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">结账数据：</h4>
                </div>
                <div class="modal-body">
                    <h4><strong>请再次确认金额，等待顾客支付后点击退房</strong></h4>
                    <br />
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>入住日期</th>
                                    <th>退房日期</th>
                                    <th>单日价格</th>
                                    <th>总金额</th>
                                    <th>优惠额</th>
                                    <th>共需支付</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{quitCheckInTime}}</td>
                                    <td>{{quitCheckOutTime}}</td>
                                    <td>{{paymentPerDay}}</td>
                                    <td>{{paymentTotal}}</td>
                                    <td>{{discount}}</td>
                                    <td>{{actualPayment}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="useMemberCard0" v-on:change="checkMemberCard(0)" type="checkbox"> 使用会员卡
                                </label>
                                <label>
                                    <input id="useCoupon0" v-on:change="checkCoupon(0)" type="checkbox"> 使用优惠券
                                </label>
                            </div>
                            <div id="memberCardInput0" class="starry-hide">
                                <div class="form-group" >
                                    <label>会员卡卡号：</label>
                                    <input  class="form-control " placeholder="会员卡卡号" v-model="memberCardId"/>
                                </div>
                                <div class="form-group">
                                    <label>会员卡密码：</label>
                                    <input  class="form-control" placeholder="会员卡密码" type="password" v-model="memberCardPass"/>
                                </div>
                            </div>
                            <div id="couponInput0" class="starry-hide">
                                <div class="form-group" >
                                    <label>优惠码：</label>
                                    <input  class="form-control " placeholder="优惠码" v-model="couponCode"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="checkOut">退房</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--退房弹框结束-->
    <!--换房弹框-->
    <div class="modal fade" id="change" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">换房</h4>
                </div>
                <div class="modal-body">
                    <div id="changePage1">
                        <h4><strong>请先结清当前房间的账单，再进行换房操作</strong></h4>
                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>入住日期</th>
                                        <th>退房日期</th>
                                        <th>单日价格</th>
                                        <th>总金额</th>
                                        <th>优惠额</th>
                                        <th>共需支付</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{quitCheckInTime}}</td>
                                        <td>{{quitCheckOutTime}}</td>
                                        <td>{{paymentPerDay}}</td>
                                        <td>{{paymentTotal}}</td>
                                        <td>{{discount}}</td>
                                        <td>{{actualPayment}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="useMemberCard1" v-on:change="checkMemberCard(1)" type="checkbox"> 使用会员卡
                                    </label>
                                    <label>
                                        <input id="useCoupon1" v-on:change="checkCoupon(1)" type="checkbox"> 使用优惠券
                                    </label>
                                </div>
                                <div id="memberCardInput1" class="starry-hide">
                                    <div class="form-group" >
                                        <label>会员卡卡号：</label>
                                        <input  class="form-control " placeholder="会员卡卡号" v-model="memberCardId"/>
                                    </div>
                                    <div class="form-group">
                                        <label>会员卡密码：</label>
                                        <input  class="form-control" placeholder="会员卡密码" type="password" v-model="memberCardPass"/>
                                    </div>
                                </div>
                                <div id="couponInput1" class="starry-hide">
                                    <div class="form-group" >
                                        <label>优惠码：</label>
                                        <input  class="form-control " placeholder="优惠码" v-model="couponCode"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="changePage">下一步</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                    <div id="changePage2" class="hide">
                        <h4><strong>请选择更换的房间</strong></h4>
                        <br />
                        <div class="row">
                            <div style="overflow:scroll; max-height: 400px">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>房间号</th>
                                        <th>房间类型</th>
                                        <th>单日价格</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in changeList">
                                        <td>{{item.roomId}}</td>
                                        <td>{{item.roomType}}</td>
                                        <td>{{item.paymentPerDay}}</td>
                                        <td><button class="btn btn-info" @click="changeRoom(item.roomId)">换房</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg">
                                            <li @click="changeFrontPage" id="changeFrontBtn"> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                            <li v-for="i in maxChangePage" v-bind:id="i+'changePage'"><a href="#" @click="changeTurnTo(i)">{{i}}</a></li>
                                            <li @click="changeNextPage" id="changeNextBtn"> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--换房弹框结束-->
</div>
<div class="container-fluid starry-middle starry-footer">
    <p>@Author 徐子林 <a href="https://github.com/Starry316/dataBaseDesign">@GitHub</a></p>
    <p>Project For Database Curriculum Design</p>
    <p> <a href="http://www.miitbeian.gov.cn">鲁ICP备18016956号</a></p>
</div>
<script src="/js/dbdmain.js"></script>
</body>
</html>
