<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>预定管理</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/bootstrapValidator.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/dbdmain.css" rel="stylesheet" />
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datetimepicker.js"></script>
  <script src="/js/bootstrapValidator.min.js"></script>
  <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap-dialog.min.js" type="text/javascript"></script>
</head>
<body>
<div id="main" class="starry-wrapper">
  <!--导航条开始-->
  <nav class="navbar navbar-collapse navbar-inverse  navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand ">宾馆后台管理系统</a>
      </div>
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="/manage/main">入住管理</a></li>
        <li role="presentation" class="active"><a href="/manage/reserve">预定管理 <span class="badge">{{reserveNum}}</span></a></li>
        <li role="presentation"><a href="/manage/member">会员管理</a></li>
        <li role="presentation"><a href="/manage/record">入住记录</a></li>
        <li role="presentation"><a href="/manage/feedback">反馈处理</a></li>
      </ul>
    </div>
  </nav>
  <!--表格开始-->
  <div class="container-fluid" style="margin-top: 80px">
    <h3><strong>预定管理</strong></h3>
    <br />
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="center">系统分配房间号</th>
          <th class="center">房间类型</th>
          <th class="center">状态</th>
          <th class="center">顾客姓名</th>
          <th class="center">顾客手机号</th>
          <th class="center">预计入住时间</th>
          <th class="center">预计离开时间</th>
          <th class="center">取消预定</th>
          <th class="center">入住</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list">
          <td>{{item.roomId}}</td>
          <td>{{item.roomType}}</td>
          <td>{{item.roomStatusName}}</td>
          <td>{{item.customerName}}</td>
          <td>{{item.customerPhoneNum}}</td>
          <td>{{item.checkInTime}}</td>
          <td>{{item.checkOutTime}}</td>
          <td> <button class="btn btn-danger" @click="cancel(item.roomId,item.id)">取消</button> </td>
          <td> <button class="btn btn-primary" @click="showCheckInModal(item.id,item.roomId)">入住</button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--表格结束-->
  <!--入住弹窗-->
  <div class="modal fade" id="checkInModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">请登记入住顾客的基本信息</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>预计退房时间：</label>
            <input id="signCheckOutTime" type="date" name="signCheckOutTime" class="form-control" data-bv-field="signCheckOutTime" placeholder="退房时间" />
          </div>
          <div v-for="i in customerNum">
            <div class="form-group">
              <label>顾客姓名：</label>
              <input v-bind:id="i+'signName'" class="form-control" placeholder="顾客姓名" />
            </div>
            <div class="form-group">
              <label>身份证号码：</label>
              <input v-bind:id="i+'signIdcardNo'" class="form-control" placeholder="身份证号码" />
            </div>
            <div class="alert alert-danger hide" role="alert" v-bind:id="i+&quot;idNoCheck&quot;">
              请输入正确的身份证号码
            </div>
            <div class="form-group">
              <label>手机号码：</label>
              <input v-bind:id="i+'signPhoneNum'" class="form-control" placeholder="手机号码" />
            </div>
            <div class="alert alert-danger hide" role="alert" v-bind:id="i+&quot;phoneCheck&quot;">
              请输入正确的手机号码
            </div>
            <hr />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" @click="addCustomer">添加新顾客</button>
          <button type="button" class="btn btn-primary" @click="checkIn">确认</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!--入住弹窗结束-->
  <!--&lt;!&ndash;入住弹窗&ndash;&gt;-->
  <!--<div class="modal fade" id="checkInModal" tabindex="-1" role="dialog">-->
  <!--<div class="modal-dialog" role="document">-->
  <!--<div class="modal-content">-->
  <!--<div class="modal-header">-->
  <!--<h3 class="modal-title">请登记入住顾客的基本信息</h3>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--<div class="form-group">-->
  <!--<label>顾客姓名：</label>-->
  <!--<input id="signName" class="form-control" placeholder="顾客姓名" v-model="signName" />-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label>身份证号码：</label>-->
  <!--<input id="signIdcardNo" class="form-control" placeholder="身份证号码" v-model="signIdcardNo" />-->
  <!--</div>-->
  <!--<div class="alert alert-danger hide" role="alert" id="idNoCheck">请输入正确的身份证号码</div>-->
  <!--<div class="form-group">-->
  <!--<label>手机号码：</label>-->
  <!--<input id="signPhoneNum" class="form-control" placeholder="手机号码" v-model="signPhoneNum" />-->
  <!--</div>-->
  <!--<div class="alert alert-danger hide" role="alert" id="phoneCheck">请输入正确的手机号码</div>-->
  <!--<div class="form-group">-->
  <!--<label>预计退房时间：</label>-->
  <!--<input id="signCheckOutTime" name="signCheckOutTime" class="form-control" data-bv-field="signCheckOutTime" placeholder="退房时间" />-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<button type="button" class="btn btn-primary" @click="checkIn">确认</button>-->
  <!--<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;入住弹窗结束&ndash;&gt;-->
  <!--页码-->
  <div class="container-fluid starry-middle">
    <nav aria-label="Page navigation" class=" starry-middle">
      <ul class="pagination pagination-lg">
        <li @click="frontPage" id="frontBtn"> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li v-for="i in maxPage" v-bind:id="i+'page'"><a href="#" @click="turnTo(i)">{{i}}</a></li>
        <li @click="nextPage" id="nextBtn"> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
      </ul>
    </nav>
  </div>
</div>
<div class="container-fluid starry-middle starry-footer">
  <p>@Author 徐子林 <a href="https://github.com/Starry316/dataBaseDesign">@GitHub</a></p>
  <p>Project For Database Curriculum Design</p>
  <p> <a href="http://www.miitbeian.gov.cn">鲁ICP备18016956号</a></p>
</div>
<script src="/js/page/dbdreserve.js"></script>
</body>
</html>