
<!DOCTYPE html>
<html>
<head>
  <title>酒店预定</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">


  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/font-awesome.css" rel="stylesheet"/>
  <link href="/css/bootstrapValidator.min.css" rel="stylesheet"/>
  <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
  <link href="/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link rel="stylesheet" href="/css/weui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-weui.css" type="text/css">
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datetimepicker.js"></script>
  <script src="/js/bootstrapValidator.min.js"></script>
  <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap-dialog.min.js" type="text/javascript"></script>


  <style>

    .swiper-container img {
      display: block;
      width: 100%;
    }
    .starry-container{
      padding: .5rem;
      background-color: #1DB0B8;
      color: whitesmoke;
      font-size: 5vw;
    }
    .starry-panel{
      background-color: white;
      padding: 5px;
      border-bottom:1px solid #e5e9ef;
      border-top: 1px solid #e5e9ef;
      box-shadow: 0px 1px 5px #e5e9ef;
    }
    .starry-background{
      background-color: #EDEDED;
    }
    .starry-nav{
      text-align: center;
      vertical-align: middle;
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;
    }
    .starry-shadow {
      box-shadow: 0px 5px 30px rgba(0,0,0,.5);
    }
    .starry-middle{
      vertical-align: middle;!important;
      text-align: center;
    }
    .starry-rightfloat{
      margin-left: 70%;
      margin-bottom: 10px;
    }
    .starry-shadow-text{
      transition: 1s;
    }
    .starry-shadow-text:hover{
      text-shadow: 0 0 .1em,0 0 .3em;
    }
    .starry-heave-text{
      text-shadow:0 1px hsl(0,0%,85%),
      0 1px hsl(0,0%,80%),
      0 1px hsl(0,0%,75%),
      0 1px hsl(0,0%,70%),
      0 1px hsl(0,0%,65%),
      0 5px 10px black;
    }
    .starry-hide{
      display: none;
    }
    .starry-show {
      animation: show 1s ease-out forwards;
    }
    .row{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .alert{
      padding: 5px;
      margin-top: -10px;
    }
    .modal{
      margin: 0;
    }
    body{
      background-color: #f6f9fa;
    }
    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
</head>

<body>



<div class="starry-container starry-shadow starry-nav"style="padding: 0" id="header">
  <h3 style="margin-bottom: 10px;margin-top: 10px">奥伦治酒店</h3>
</div>

<div class="swiper-container" style="margin-top: 1.5rem">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="/img/5.jpg" /></div>
    <div class="swiper-slide"><img src="/img/4.jpg" /></div>
    <div class="swiper-slide"><img src="/img/3.jpg" /></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>

<div id="app">

  <!--酒店介绍-->
  <div class="container-fluid">
    <div class="row starry-panel" style="margin-bottom: 10px">
      <label>酒店介绍</label>
      <p>这家四星级的湾仔帝盛酒店（前香港丽都酒店）最近经过翻修，距离铜锣湾地铁站有短短的8分钟步行路程。所有区域均提供免费WiFi。所有装饰一新的客房均提供免费使用的智能手机（带无限制4G网络服务，支持WiFi数据共享，可与客人的私人手机、平板电脑和其他设备连接）、免费本地通话服务以及8个国家的国际直拨电话，包括中国大陆、美国、加拿大、新加坡、韩国、英国、澳大利亚和泰国。客人可在酒店内外使用这部手机。</p>
    </div>
  </div>
  <!--酒店介绍结束-->

  <!--已预定房间-->
  <div class="container-fluid starry-panel" style="background-color: white; padding-right: 15px;
    padding-left: 15px;">
    <div class="row" @click="showHadReverse">
      <div class="col-xs-11"><label>查看已预定房间</label></div>
      <span id="arrowIcon" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
    <div id="reverseList" class="starry-hide">
      <div class="row starry-middle">
        <div class="col-xs-4"><strong>预订房型：</strong></div>
        <div class="col-xs-5"><strong>入住时间：</strong></div>
        <div class="divider"></div>
      </div>
      <div class="row starry-middle" v-for="item in reservelist">
        <div class="col-xs-4">{{item.roomType}}</div>
        <div class="col-xs-5">{{item.checkInTime}}</div>
        <div class="col-xs-3">
          <button  class="btn btn-sm btn-danger " type="button" v-on:click="cancel(item.id)">取消预定</button>
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <!--已预定房间结束-->


  <!--预定-->
  <div class="container-fluid">
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4"><img src="/img/4.jpg" width="100%" height="100%"></div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>标准间</label>
        <p>
          价格实惠价格实惠 价格实惠价格实惠 价格实惠
        </p>
      </div>
      <div class="col-xs-2">
        <br>
        <button id="reserveBZ" class="btn btn-sm btn-warning starry-middle" type="button"
                v-on:click="reserve(1)">预定
        </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform1">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">顾客姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text"v-model="name" placeholder="姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">预订时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn1" type="text" placeholder="预定时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">退房时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut1" type="text" placeholder="退房时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat" >
          <button type="button" class="btn btn-primary" @click="sendReserve(1)">确认</button>
        </div>
      </div>
    </div>
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4"><img src="/img/4.jpg" width="100%" height="100%"></div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>大床房</label>
        <p>
          价格实惠价格实惠 价格实惠价格实惠 价格实惠
        </p>
      </div>
      <div class="col-xs-2">
        <br>
        <button id="reserveDC" class="btn btn-sm btn-warning starry-middle" type="button"
                v-on:click="reserve(2)">预定
        </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform2">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">顾客姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text"v-model="name" placeholder="姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text"v-model="telephone" placeholder="手机号码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">预订时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn2" type="text" placeholder="预定时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">退房时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut2" type="text" placeholder="退房时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat" >
          <button type="button" class="btn btn-primary" @click="sendReserve(2)">确认</button>
        </div>
      </div>
    </div>

    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4"><img src="/img/4.jpg" width="100%" height="100%"></div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>商务套房</label>
        <p>
          价格实惠价格实惠 价格实惠价格实惠 价格实惠
        </p>
      </div>
      <div class="col-xs-2">
        <br>
        <button id="reserveSW" class="btn btn-sm btn-warning starry-middle" type="button"
                v-on:click="reserve(3)">预定
        </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform3">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">顾客姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name"placeholder="姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">预订时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn3" type="text" placeholder="预定时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">退房时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut3" type="text" placeholder="退房时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat" >
          <button type="button" class="btn btn-primary" @click="sendReserve(3)">确认</button>
        </div>
      </div>
    </div>


    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4"><img src="/img/3.jpg" width="100%" height="100%"></div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>豪华套间</label>
        <p>
          价格实惠价格实惠 价格实惠价格实惠 价格实惠
        </p>
      </div>
      <div class="col-xs-2">
        <br>
        <button id="reserveHH" class="btn btn-sm btn-warning starry-middle" type="button"
                v-on:click="reserve(4)">预定
        </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform4">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">顾客姓名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name" placeholder="姓名">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">预订时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn4" type="text" placeholder="预定时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">退房时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut4" type="text" placeholder="退房时间">
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat" >
          <button type="button" class="btn btn-primary" @click="sendReserve(4)">确认</button>
        </div>
      </div>
    </div>
  </div>
  <!--预定结束-->

  <!--footer-->
  <div class="container-fluid">
    <div class="weui-footer">
      <p class="weui-footer__text">@Author 徐子林 <a href="https://github.com/Starry316/dataBaseDesign">@GitHubRepository</a></p>
      <p class="weui-footer__text">Project For Database Curriculum Design </p>
      <p class="weui-footer__text"> <a href="http://www.miitbeian.gov.cn">鲁ICP备18016956号</a></p>

    </div>
  </div>
  <!--footer结束-->


  <!--登录或注册弹窗-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!--登录页面-->
      <div class="modal-content starry-show" id="loginPage">
        <div class="modal-header">
          <h3 class="modal-title">登录</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control"  placeholder="用户名" v-model="userName">
          </div>
          <div class="alert alert-danger starry-hide" id="lError0" role="alert" >{{lError0}}</div>
          <div class="form-group">
            <label>密码：</label>
            <input class="form-control" type="password"  placeholder="密码" v-model="password">
          </div>
          <div class="alert alert-danger starry-hide" id="lError1" role="alert" >{{lError1}}</div>
          <a @click="changeToSignUp">还没有账号？点击注册</a>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="login">确认</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
      <!--登录页面结束-->
      <!--注册页面-->
      <div class="modal-content starry-hide" id="signUpPage">
        <div class="modal-header">
          <h3 class="modal-title">注册</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control"  placeholder="用户名" v-model="userName">
          </div>
          <div class="alert alert-danger starry-hide" id="sError0" role="alert" >{{sError0}}</div>
          <div class="form-group">
            <label>密码：</label>
            <input class="form-control"  type="password"  placeholder="密码" v-model="password">
          </div>
          <div class="alert alert-danger starry-hide" id="sError1" role="alert" >{{sError1}}</div>
          <div class="form-group">
            <label>手机号码：</label>
            <input class="form-control"  placeholder="手机号码" v-model="phone">
          </div>
          <div class="alert alert-danger starry-hide"id="sError2" role="alert" >{{sError2}}</div>
          <a @click="changeToLogin">已经有账号？去登录</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="signUp">确认</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
      <!--注册页面结束-->
    </div>
  </div>
  <!--登录或注册弹窗结束-->

</div>
<script src="/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
    $(document).ready(function(){
        $(window).scroll(function (event) {
            if ($(window).scrollTop() > 1) {
                $("#header").addClass("starry-shadow");
            }
            else{
                $("#header").removeClass("starry-shadow");
            }
        });
    });
</script>
<script src="/js/jquery-weui.js"></script>

<script src="/js/swiper.js"></script>

<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });

    let app = new Vue({
        el: '#app',
        data: {
            type:'',
            userName:'',
            password:'',
            phone:'',
            isLogin:false,

            isShown:false,

            //loginModal中的errorMes
            sError0:'',
            sError1:'',
            sError2:'',
            lError0:'',
            lError1:'',

            //预定数据
            name:'',
            telephone:'',
            timeCheckin:'',
            timeCheckOut:'',

            //已预定数据
            reservelist:[]

        },
        methods: {
            showHadReverse(){
                if (!this.isLogin){
                    $('#loginModal').modal();
                    return;
                }
                if (!this.isShown){
                    $('#reverseList').removeClass('starry-hide');
                    $('#reverseList').addClass('starry-show');
                    $('#arrowIcon').removeClass('glyphicon-menu-right');
                    $('#arrowIcon').addClass('glyphicon-menu-down');
                    this.getReserveList();
                    this.isShown = true;
                }
                else {
                    $('#reverseList').removeClass('starry-show');
                    $('#reverseList').addClass('starry-hide');
                    $('#arrowIcon').addClass('glyphicon-menu-right');
                    $('#arrowIcon').removeClass('glyphicon-menu-down');
                    this.isShown = false;
                }
            },
            cancel(id) {
                let reqData = {
                    id: id
                }
                this.$http.post('/cancelReserve', reqData).then(resp =>{
                    let result = resp.body;
                if (result.status === 200) {
                    this.getReserveList();
                    alert('取消成功');
                } else{
                    this.getReserveList();
                    alert(result.message);
                }
            }).
                catch(resp =>{
                    this.getReserveList();
                alert("请求失败，请稍后重试");
            });
                this.getReserveList();
            },
            getReserveList(){
                this.$http.get('/getHadReserveList')
                    .then(response => {
                    let result = response.body;
                if (result.status === 200) {
                    this.reservelist = result.data;
                } else {
                    alert(result.message);
                }
            })
            .catch(resp => {
                    alert("请求失败，请稍后重试");
            });
            },
            reserve(type){
                this.initModals();
                if (!this.isLogin){
                    $('#loginModal').modal();
                    return;
                }
                this.type=type;
                let selectForm ='#reserveform'+type;
                $(selectForm).removeClass('starry-hide');
                $(selectForm).addClass('starry-show');
            },
            sendReserve(type){
                if (this.name.length<1){
                    alert('请填写姓名！');
                    return;
                }
                if (this.telephone.length!=11){
                    alert('请填写正确的联系方式！');
                    return;
                }
                this.getTime();
                if (this.timeCheckin.length<1){
                    alert('请选择入住时间！');
                    return;
                }
                if (this.timeCheckOut.length<1){
                    alert('请选择退房时间！');
                    return;
                }
                let data = {
                    name:this.name,
                    type:this.type,
                    telephone:this.telephone,
                    timeCheckin:this.timeCheckin,
                    timeCheckOut:this.timeCheckOut
                }
                this.$http.post('/reserve', data)
                    .then(response => {
                    let result = response.body;
                if (result.status === 200) {
                    alert('预定成功!');
                    this.initModals();
                } else {
                    alert(result.message);
                    this.initModals();
                }
            })
            .catch(resp => {
                    alert("请求失败，请稍后重试");
                this.initModals();
            });

            },
            getTime(){
                let type =this.type;
                let timeid = '#timeCheckIn'+type;
                let date = $(timeid).val();
                let year = date.split('年')[0];
                date = date.split('年')[1];
                let month = date.split('月')[0];
                date = date.split('月')[1];
                let day = date.split('日')[0];
                date = date.split('日')[1];
                date = year+'-'+month+'-'+day;
                this.timeCheckin=date;
                timeid = '#timeCheckOut'+type;
                date = $(timeid).val();
                year = date.split('年')[0];
                date = date.split('年')[1];
                month = date.split('月')[0];
                date = date.split('月')[1];
                day = date.split('日')[0];
                date = date.split('日')[1];
                date = year+'-'+month+'-'+day;
                this.timeCheckOut=date;
            },
            initModals(){
                // 数据初始化
                this.type='';
                this.userName='';
                this.password='';
                this.phone='';
                this.name='';
                this.telephone='';

                for (var i =1;i<5;i++){
                    let id = '#reserveform'+i;
                    $(id).removeClass('starry-show');
                    $(id).addClass('starry-hide');
                }

                //页面初始化
                $('#signUpPage').removeClass('starry-show');
                $('#signUpPage').addClass('starry-hide');
                $('#loginPage').addClass('starry-show');
                $('#loginPage').removeClass('starry-hide');

                //出错信息初始化
                $('.alert-danger').removeClass('starry-show');
                $('.alert-danger').addClass('starry-hide');

                //已预定初始化
                $('#reverseList').removeClass('starry-show');
                $('#reverseList').addClass('starry-hide');
                $('#arrowIcon').addClass('glyphicon-menu-right');
                $('#arrowIcon').removeClass('glyphicon-menu-down');
                this.isShown = false;
            },
            changeToSignUp(){
                this.userName='';
                this.password='';
                this.phone='';
                $('#loginPage').removeClass('starry-show');
                $('#loginPage').addClass('starry-hide');
                $('#signUpPage').addClass('starry-show');
                $('#signUpPage').removeClass('starry-hide');
            },
            changeToLogin(){
                this.initModals();
            },
            login(){
                $('.alert-danger').removeClass('starry-show');
                $('.alert-danger').addClass('starry-hide');
                let canGo = true;
                if (!this.userName){
                    canGo=false;
                    this.lError0 = '请输入用户名';
                    $('#lError0').removeClass('starry-hide');
                    $('#lError0').addClass('starry-show');
                }
                if (!this.password){
                    canGo=false;
                    this.lError1 = '请输入密码';
                    $('#lError1').removeClass('starry-hide');
                    $('#lError1').addClass('starry-show');
                }
                if (!canGo) return;

                let data = {
                    userName:this.userName,
                    password:this.password
                }
                this.$http.post('/login', data)
                    .then(response => {
                    let result = response.body;
                if (result.status === 200) {
                    this.isLogin = true;
                    $('#loginModal').modal('hide');
                } else {
                    this.isLogin = false;
                    alert(result.message);
                }
            })
            .catch(resp => {
                    this.isLogin = false;
                $('#loginModal').modal('hide');
                alert("请求失败，请稍后重试");
            });
            },
            signUp(){
                $('.alert-danger').removeClass('starry-show');
                $('.alert-danger').addClass('starry-hide');
                let canGo = true;
                if (!this.userName){
                    canGo=false;
                    this.sError0 = '请输入用户名';
                    $('#sError0').removeClass('starry-hide');
                    $('#sError0').addClass('starry-show');
                }
                if (!this.password){
                    canGo=false;
                    this.sError1 = '请输入密码';
                    $('#sError1').removeClass('starry-hide');
                    $('#sError1').addClass('starry-show');
                }
                if (!this.phone){
                    canGo=false;
                    this.sError2 = '请输入手机号';
                    $('#sError2').removeClass('starry-hide');
                    $('#sError2').addClass('starry-show');
                }
                if (this.phone&&this.phone.length!=11){
                    canGo=false;
                    this.sError2 = '请输入格式正确的手机号';
                    $('#sError2').removeClass('starry-hide');
                    $('#sError2').addClass('starry-show');
                }
                if (!canGo) return;
                let data = {
                    userName:this.userName,
                    password:this.password,
                    phone:this.phone
                }
                this.$http.post('/signUp', data)
                    .then(response => {
                    let result = response.body;
                if (result.status === 200) {
                    this.isLogin = true;
                    $('#loginModal').modal('hide');
                } else {
                    this.isLogin = false;
                    alert(result.message);
                }
            })
            .catch(resp => {
                    this.isLogin = false;
                $('#loginModal').modal('hide');
                alert("请求失败，请稍后重试");
            });
            }
        },
        mounted(){
            for(let i =1;i<5;i++){
                $("#timeCheckIn"+i).datetimePicker({
                    title: '预计入住时间',
                    yearSplit: '年',
                    monthSplit: '月',
                    dateSplit: '日',
                    times: function () {
                        return [  // 自定义的时间
                        ];
                    },
                    min: '2013-12-12',
                    onChange: function (picker, values, displayValues) {
                        let date = values[0]+'-'+values[1]+'-'+values[2]
                        console.log(date);
                        this.time = date;
                    }
                });
                $("#timeCheckOut"+i).datetimePicker({
                    title: '预计入住时间',
                    yearSplit: '年',
                    monthSplit: '月',
                    dateSplit: '日',
                    times: function () {
                        return [  // 自定义的时间
                        ];
                    },
                    min: '2013-12-12',
                    onChange: function (picker, values, displayValues) {
                        let date = values[0]+'-'+values[1]+'-'+values[2]
                        console.log(date);
                        this.time = date;
                    }
                });
            }
            // $("#time1").datetimePicker({
            //   title: '预计入住时间',
            //   yearSplit: '年',
            //   monthSplit: '月',
            //   dateSplit: '日',
            //   times: function () {
            //     return [  // 自定义的时间
            //     ];
            //   },
            //   min: '2013-12-12',
            //   onChange: function (picker, values, displayValues) {
            //     let date = values[0]+'-'+values[1]+'-'+values[2]
            //     console.log(date);
            //     this.time = date;
            //   }
            // });
            // $("#time2").datetimePicker({
            //   title: '预计入住时间',
            //   yearSplit: '年',
            //   monthSplit: '月',
            //   dateSplit: '日',
            //   times: function () {
            //     return [  // 自定义的时间
            //     ];
            //   },
            //   min: '2013-12-12',
            //   onChange: function (picker, values, displayValues) {
            //     let date = values[0]+'-'+values[1]+'-'+values[2]
            //     console.log(date);
            //   }
            // });
            // $("#time3").datetimePicker({
            //   title: '预计入住时间',
            //   yearSplit: '年',
            //   monthSplit: '月',
            //   dateSplit: '日',
            //   times: function () {
            //     return [  // 自定义的时间
            //     ];
            //   },
            //   min: '2013-12-12',
            //   onChange: function (picker, values, displayValues) {
            //     let date = values[0]+'-'+values[1]+'-'+values[2]
            //     console.log(date);
            //     this.time = date;
            //   }
            // });
            // $("#time4").datetimePicker({
            //   title: '预计入住时间',
            //   yearSplit: '年',
            //   monthSplit: '月',
            //   dateSplit: '日',
            //   times: function () {
            //     return [  // 自定义的时间
            //     ];
            //   },
            //   min: '2013-12-12',
            //   onChange: function (picker, values, displayValues) {
            //     let date = values[0]+'-'+values[1]+'-'+values[2]
            //     console.log(date);
            //     this.time = date;
            //   }
            // });

        }
    });


</script>
</body>
</html>
