<!DOCTYPE html>
<html>
<head>
  <title>酒店预定</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="酒店预定" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/weui.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-weui.css" type="text/css" />
  <link href="/css/page/front.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="starry-container starry-shadow starry-nav" style="padding: 0" id="header">
  <h3 style="margin-bottom: 10px;margin-top: 10px">酒店预定</h3>
</div>
<div class="swiper-container" style="margin-top: 1.5rem">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/img/o5.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="/img/o4.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="/img/o3.jpg" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
<div id="app">
  <!--酒店介绍-->
  <div class="container-fluid">
    <div class="row starry-panel" style="margin-bottom: 10px">
      <label>酒店介绍</label>
      <p>这家四星级的湾仔帝盛酒店（前香港丽都酒店）最近经过翻修，距离铜锣湾地铁站有短短的8分钟步行路程。所有区域均提供免费WiFi。所有装饰一新的客房均提供免费使用的智能手机（带无限制4G网络服务，支持WiFi数据共享，可与客人的私人手机、平板电脑和其他设备连接）、免费本地通话服务以及8个国家的国际直拨电话，包括中国大陆、美国、加拿大、新加坡、韩国、英国、澳大利亚和泰国。客人可在酒店内外使用这部手机。</p>
    </div>
  </div>
  <!--酒店介绍结束-->
  <div class="container-fluid starry-panel" style="background-color: white; padding-right: 15px;
      padding-left: 15px;margin-bottom: 5px;">
    <div class="row" @click="showUserInfo">
      <div class="col-xs-11" v-if="isLogin == true">
        <label>{{userName}}</label>
      </div>
      <div class="col-xs-11" v-if="isLogin == false">
        <label>登录/注册</label>
      </div>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
  </div>
  <div v-if="isLogin == true">
    <!--已预定房间-->
    <div class="container-fluid starry-panel" style="background-color: white; padding-right: 15px;
      padding-left: 15px;margin-bottom: 5px;">
      <div class="row" @click="showHadReverse">
        <div class="col-xs-11">
          <label>查看已预定房间</label>
        </div>
        <span id="arrowIcon" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
      <div id="reverseList" class="starry-hide">
        <div class="row starry-middle">
          <div class="col-xs-4">
            <strong>预订房型：</strong>
          </div>
          <div class="col-xs-5">
            <strong>入住时间：</strong>
          </div>
          <div class="divider"></div>
        </div>
        <div class="row starry-middle" v-for="item in reservelist">
          <div class="col-xs-4">
            {{item.roomType}}
          </div>
          <div class="col-xs-5">
            {{item.checkInTime}}
          </div>
          <div class="col-xs-3">
            <button class="btn btn-sm btn-danger " type="button" v-on:click="cancel(item.id)">取消预定</button>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <!--已预定房间结束-->
    <!--优惠券展示-->
    <div class="container-fluid starry-panel" style="background-color: white; padding-right: 15px;
      padding-left: 15px;margin-bottom: 5px;">
      <div class="row" @click="showCoupon">
        <div class="col-xs-11">
          <label>我的优惠券</label>
        </div>
        <span id="couponIcon" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
      <div id="couponList" class="starry-hide">
        <div class="row starry-middle">
          <div class="col-xs-3">
            <strong>优惠码</strong>
          </div>
          <div class="col-xs-3">
            <strong>折扣额</strong>
          </div>
          <div class="col-xs-5">
            <strong>到期时间</strong>
          </div>
          <div class="divider"></div>
        </div>
        <div class="row starry-middle" v-for="item in couponDataList">
          <div class="col-xs-3">
            {{item.code}}
          </div>
          <div class="col-xs-3">
            {{item.discount}}元
          </div>
          <div class="col-xs-5">
            {{item.expiry}}
          </div>
        </div>
      </div>
    </div>
    <!--优惠券展示结束-->
    <!--反馈-->
    <div class="container-fluid starry-panel" style="background-color: white; padding-right: 15px;
      padding-left: 15px;margin-bottom: 5px;">
      <div class="row" @click="showFeedback">
        <div class="col-xs-11">
          <label>提交反馈意见</label>
        </div>
        <span id="feedbackIcon" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
      <!--<div class="starry-hide">-->
      <div id="feedback" class="starry-hide">
        <div id="feedbackForm">
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="您提交的信息将会被反馈给客服人员，您可以查看处理进度" v-model="feedbackContent"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-default pull-right" @click="submitFeedback">提交</button>
          </div>
          <div class="form-group" style="margin-right: 5px;">
            <button class="btn btn-default pull-right" @click="showFeedbackStatus">处理进度</button>
          </div>
        </div>
        <div id="feedbackStatus" class="starry-hide">
          <div class="row starry-middle">
            <div class="col-xs-5">
              <strong>反馈</strong>
            </div>
            <div class="col-xs-3">
              <strong>状态</strong>
            </div>
            <div class="col-xs-4">
              <strong>提交时间</strong>
            </div>
            <div class="divider"></div>
          </div>
          <div class="row starry-middle" v-for="item in feedbackList">
            <div class="col-xs-5">
              {{item.content}}
            </div>
            <div class="col-xs-3">
              {{item.statusName}}
            </div>
            <div class="col-xs-4">
              {{item.submitTime}}
            </div>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    <!--反馈结束-->
  </div>
  <!--预定-->
  <div class="container-fluid">
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <img src="/img/n1.jpg" width="100%" height="100%" />
      </div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>标准间</label>
        <p> 标准间 189.99元 </p>
      </div>
      <div class="col-xs-2">
        <br />
        <button id="reserveBZ" class="btn btn-sm btn-warning starry-middle" type="button" v-on:click="reserve(1)">预定 </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform1">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">顾客姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name" placeholder="姓名" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">预订时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn1" type="text" placeholder="预定时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">退房时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut1" type="text" placeholder="退房时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat">
          <button type="button" class="btn btn-primary" @click="sendReserve(1)">确认</button>
        </div>
      </div>
    </div>
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <img src="/img/n2.jpg" width="100%" height="100%" />
      </div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>大床房</label>
        <p> 大床房 199.99元 </p>
      </div>
      <div class="col-xs-2">
        <br />
        <button id="reserveDC" class="btn btn-sm btn-warning starry-middle" type="button" v-on:click="reserve(2)">预定 </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform2">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">顾客姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name" placeholder="姓名" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">预订时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn2" type="text" placeholder="预定时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">退房时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut2" type="text" placeholder="退房时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat">
          <button type="button" class="btn btn-primary" @click="sendReserve(2)">确认</button>
        </div>
      </div>
    </div>
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <img src="/img/n4.jpg" width="100%" height="100%" />
      </div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>商务套房</label>
        <p> 大床房 299.99元 </p>
      </div>
      <div class="col-xs-2">
        <br />
        <button id="reserveSW" class="btn btn-sm btn-warning starry-middle" type="button" v-on:click="reserve(3)">预定 </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform3">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">顾客姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name" placeholder="姓名" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">预订时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn3" type="text" placeholder="预定时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">退房时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut3" type="text" placeholder="退房时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat">
          <button type="button" class="btn btn-primary" @click="sendReserve(3)">确认</button>
        </div>
      </div>
    </div>
    <div class="row starry-panel">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <img src="/img/3.jpg" width="100%" height="100%" />
      </div>
      <div class="col-lg-4 col-md-4 col-xs-6">
        <label>豪华套间</label>
        <p> 大床房 399.99元 </p>
      </div>
      <div class="col-xs-2">
        <br />
        <button id="reserveHH" class="btn btn-sm btn-warning starry-middle" type="button" v-on:click="reserve(4)">预定 </button>
      </div>
    </div>
    <!--预定表单-->
    <div class="weui-cells weui-cells_form starry-hide row starry-panel" id="reserveform4">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">顾客姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="name" placeholder="姓名" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" v-model="telephone" placeholder="手机号码" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">预订时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckIn4" type="text" placeholder="预定时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">退房时间</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="timeCheckOut4" type="text" placeholder="退房时间" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="starry-rightfloat">
          <button type="button" class="btn btn-primary" @click="sendReserve(4)">确认</button>
        </div>
      </div>
    </div>
  </div>
  <!--预定结束-->
  <!--footer-->
  <div class="container-fluid">
    <div class="weui-footer">
      <p class="weui-footer__text">@Author 徐子林 <a href="https://github.com/Starry316/dataBaseDesign">@GitHubRepository</a></p>
      <p class="weui-footer__text">Project For Database Curriculum Design </p>
      <p class="weui-footer__text"> <a href="http://www.miitbeian.gov.cn">鲁ICP备18016956号</a></p>
    </div>
  </div>
  <!--footer结束-->
  <!--登录或注册弹窗-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!--登录页面-->
      <div class="modal-content starry-show" id="loginPage">
        <div class="modal-header">
          <h3 class="modal-title">登录</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control" placeholder="用户名" v-model="userName" />
          </div>
          <div class="alert alert-danger starry-hide" id="lError0" role="alert">
            {{lError0}}
          </div>
          <div class="form-group">
            <label>密码：</label>
            <input class="form-control" type="password" placeholder="密码" v-model="password" />
          </div>
          <div class="alert alert-danger starry-hide" id="lError1" role="alert">
            {{lError1}}
          </div>
          <a @click="changeToSignUp">还没有账号？点击注册</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="login">确认</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
      <!--登录页面结束-->
      <!--注册页面-->
      <div class="modal-content starry-hide" id="signUpPage">
        <div class="modal-header">
          <h3 class="modal-title">注册</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control" placeholder="用户名" v-model="userName" />
          </div>
          <div class="alert alert-danger starry-hide" id="sError0" role="alert">
            {{sError0}}
          </div>
          <div class="form-group">
            <label>密码：</label>
            <input class="form-control" type="password" placeholder="密码" v-model="password" />
          </div>
          <div class="alert alert-danger starry-hide" id="sError1" role="alert">
            {{sError1}}
          </div>
          <div class="form-group">
            <label>手机号码：</label>
            <input class="form-control" placeholder="手机号码" v-model="phone" />
          </div>
          <div class="alert alert-danger starry-hide" id="sError2" role="alert">
            {{sError2}}
          </div>
          <a @click="changeToLogin">已经有账号？去登录</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="signUp">确认</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
      <!--注册页面结束-->
    </div>
  </div>
  <!--登录或注册弹窗结束-->
  <!--用户信息弹窗-->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">用户信息</h3>
        </div>
        <div id="userInfoBody">
          <div class="modal-body">
            <div class="form-group">
              <label>用户名：</label> {{infoName}}
            </div>
            <div class="form-group">
              <label>电话号码：</label> {{infoPhone}}
            </div>
            <div class="form-group">
              <label>绑定的会员卡：</label> {{infoMemberCardId}}
            </div>
            <a @click="showBind">点击绑定会员卡</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="login">确认</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
          </div>
        </div>
        <div id="bindBody">
          <div class="modal-body">
            <div class="form-group">
              <label>会员卡号：</label>
              <input class="form-control" placeholder="会员卡号" v-model="memberCardId" />
            </div>
            <div class="form-group">
              <label>会员卡密码：</label>
              <input class="form-control" type="password" placeholder="会员卡密码" v-model="memberCardPass" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="bind">确认</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--用户信息弹窗结束-->
<script src="/js/fastclick.js"></script>
<script src="/js/jquery-weui.js"></script>
<script src="/js/swiper.js"></script>
<script src="/js/page/front.js"></script>
</body>
</html>