<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.dao.FeedBackEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.po.FeedBackEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="managerId" jdbcType="INTEGER" property="managerId" />
    <result column="submitTime" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="dealTime" jdbcType="TIMESTAMP" property="dealTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.xuzilin.po.FeedBackEntity">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, status, managerId, submitTime, dealTime
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.po.FeedBackEntity">
    insert into feedback (id, userId, status, 
      managerId, submitTime, dealTime, 
      content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{managerId,jdbcType=INTEGER}, #{submitTime,jdbcType=TIMESTAMP}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.po.FeedBackEntity">
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="managerId != null">
        managerId,
      </if>
      <if test="submitTime != null">
        submitTime,
      </if>
      <if test="dealTime != null">
        dealTime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.po.FeedBackEntity">
    update feedback
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="managerId != null">
        managerId = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null">
        submitTime = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null">
        dealTime = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xuzilin.po.FeedBackEntity">
    update feedback
    set userId = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      managerId = #{managerId,jdbcType=INTEGER},
      submitTime = #{submitTime,jdbcType=TIMESTAMP},
      dealTime = #{dealTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.po.FeedBackEntity">
    update feedback
    set userId = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      managerId = #{managerId,jdbcType=INTEGER},
      submitTime = #{submitTime,jdbcType=TIMESTAMP},
      dealTime = #{dealTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>