<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.dao.MemberCardEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.po.MemberCardEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="consumption" jdbcType="DECIMAL" property="consumption" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="idcardNo" jdbcType="VARCHAR" property="idcardNo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    id, consumption, name, phoneNum, type, idcardNo, password, balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.po.MemberCardEntity" useGeneratedKeys="true" keyProperty="id">
    insert into member_card (id, consumption, name, 
      phoneNum, type, idcardNo, 
      password, balance)
    values (#{id,jdbcType=INTEGER}, #{consumption,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{idcardNo,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.po.MemberCardEntity" useGeneratedKeys="true" keyProperty="id">
    insert into member_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="consumption != null">
        consumption,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phoneNum != null">
        phoneNum,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="idcardNo != null">
        idcardNo,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="consumption != null">
        #{consumption,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="idcardNo != null">
        #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.po.MemberCardEntity">
    update member_card
    <set>
      <if test="consumption != null">
        consumption = #{consumption,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phoneNum = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="idcardNo != null">
        idcardNo = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.po.MemberCardEntity">
    update member_card
    set consumption = #{consumption,jdbcType=DECIMAL},
      name = #{name,jdbcType=VARCHAR},
      phoneNum = #{phoneNum,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      idcardNo = #{idcardNo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>