<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.common.dao.RecordEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.common.po.RecordEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomId" jdbcType="INTEGER" property="roomId" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="idcardNo" jdbcType="VARCHAR" property="idcardNo" />
    <result column="checkInTime" jdbcType="DATE" property="checkInTime" />
    <result column="checkOutTime" jdbcType="DATE" property="checkOutTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roomId, customerName, idcardNo, checkInTime, checkOutTime, status, phoneNum, 
    discount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.common.po.RecordEntity">
    insert into record (id, roomId, customerName, 
      idcardNo, checkInTime, checkOutTime, 
      status, phoneNum, discount
      )
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, 
      #{idcardNo,jdbcType=VARCHAR}, #{checkInTime,jdbcType=DATE}, #{checkOutTime,jdbcType=DATE}, 
      #{status,jdbcType=TINYINT}, #{phoneNum,jdbcType=VARCHAR}, #{discount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.common.po.RecordEntity">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomId != null">
        roomId,
      </if>
      <if test="customerName != null">
        customerName,
      </if>
      <if test="idcardNo != null">
        idcardNo,
      </if>
      <if test="checkInTime != null">
        checkInTime,
      </if>
      <if test="checkOutTime != null">
        checkOutTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="phoneNum != null">
        phoneNum,
      </if>
      <if test="discount != null">
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null">
        #{checkInTime,jdbcType=DATE},
      </if>
      <if test="checkOutTime != null">
        #{checkOutTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.common.po.RecordEntity">
    update record
    <set>
      <if test="roomId != null">
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        customerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNo != null">
        idcardNo = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="checkInTime != null">
        checkInTime = #{checkInTime,jdbcType=DATE},
      </if>
      <if test="checkOutTime != null">
        checkOutTime = #{checkOutTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="phoneNum != null">
        phoneNum = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.common.po.RecordEntity">
    update record
    set roomId = #{roomId,jdbcType=INTEGER},
      customerName = #{customerName,jdbcType=VARCHAR},
      idcardNo = #{idcardNo,jdbcType=VARCHAR},
      checkInTime = #{checkInTime,jdbcType=DATE},
      checkOutTime = #{checkOutTime,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      phoneNum = #{phoneNum,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>