<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.dao.RecordEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.po.RecordEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomId" jdbcType="INTEGER" property="roomId" />
    <result column="checkInTime" jdbcType="DATE" property="checkInTime" />
    <result column="checkOutTime" jdbcType="DATE" property="checkOutTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="payment" jdbcType="DECIMAL" property="payment" />
    <result column="memberCardId" jdbcType="INTEGER" property="memberCardId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roomId, checkInTime, checkOutTime, status, discount, payment, memberCardId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.po.RecordEntity" keyProperty="id" useGeneratedKeys="true">
    insert into record (id, roomId, checkInTime,
      checkOutTime, status, discount,
      payment, memberCardId)
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{checkInTime,jdbcType=DATE},
      #{checkOutTime,jdbcType=DATE}, #{status,jdbcType=TINYINT}, #{discount,jdbcType=DECIMAL},
      #{payment,jdbcType=DECIMAL}, #{memberCardId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.po.RecordEntity" keyProperty="id" useGeneratedKeys="true">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomId != null">
        roomId,
      </if>
      <if test="checkInTime != null">
        checkInTime,
      </if>
      <if test="checkOutTime != null">
        checkOutTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="memberCardId != null">
        memberCardId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="checkInTime != null">
        #{checkInTime,jdbcType=DATE},
      </if>
      <if test="checkOutTime != null">
        #{checkOutTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="memberCardId != null">
        #{memberCardId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.po.RecordEntity">
    update record
    <set>
      <if test="roomId != null">
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="checkInTime != null">
        checkInTime = #{checkInTime,jdbcType=DATE},
      </if>
      <if test="checkOutTime != null">
        checkOutTime = #{checkOutTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="memberCardId != null">
        memberCardId = #{memberCardId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.po.RecordEntity">
    update record
    set roomId = #{roomId,jdbcType=INTEGER},
      checkInTime = #{checkInTime,jdbcType=DATE},
      checkOutTime = #{checkOutTime,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      discount = #{discount,jdbcType=DECIMAL},
      payment = #{payment,jdbcType=DECIMAL},
      memberCardId = #{memberCardId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>