<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.dao.ReserveEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.po.ReserveEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomId" jdbcType="INTEGER" property="roomId" />
    <result column="reserveCheckInTime" jdbcType="DATE" property="reserveCheckInTime" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="reserveCheckOutTime" jdbcType="DATE" property="reserveCheckOutTime" />
    <result column="reserveType" jdbcType="TINYINT" property="reserveType" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roomId, reserveCheckInTime, phone, name, status, reserveCheckOutTime, reserveType, 
    userId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reserve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reserve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.po.ReserveEntity">
    insert into reserve (id, roomId, reserveCheckInTime, 
      phone, name, status, 
      reserveCheckOutTime, reserveType, userId
      )
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{reserveCheckInTime,jdbcType=DATE}, 
      #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{reserveCheckOutTime,jdbcType=DATE}, #{reserveType,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.po.ReserveEntity">
    insert into reserve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomId != null">
        roomId,
      </if>
      <if test="reserveCheckInTime != null">
        reserveCheckInTime,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reserveCheckOutTime != null">
        reserveCheckOutTime,
      </if>
      <if test="reserveType != null">
        reserveType,
      </if>
      <if test="userId != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="reserveCheckInTime != null">
        #{reserveCheckInTime,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="reserveCheckOutTime != null">
        #{reserveCheckOutTime,jdbcType=DATE},
      </if>
      <if test="reserveType != null">
        #{reserveType,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.po.ReserveEntity">
    update reserve
    <set>
      <if test="roomId != null">
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="reserveCheckInTime != null">
        reserveCheckInTime = #{reserveCheckInTime,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="reserveCheckOutTime != null">
        reserveCheckOutTime = #{reserveCheckOutTime,jdbcType=DATE},
      </if>
      <if test="reserveType != null">
        reserveType = #{reserveType,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.po.ReserveEntity">
    update reserve
    set roomId = #{roomId,jdbcType=INTEGER},
      reserveCheckInTime = #{reserveCheckInTime,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      reserveCheckOutTime = #{reserveCheckOutTime,jdbcType=DATE},
      reserveType = #{reserveType,jdbcType=TINYINT},
      userId = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>